Source: jicofo
Section: net
Priority: extra
Maintainer: Jitsi Team <dev@jitsi.org>
Uploaders: Emil Ivov <emcho@jitsi.org>, Damian Minkov <damencho@jitsi.org>, Pawel Domas <pawel.domas@jitsi.org>
Build-Depends: debhelper, openjdk-11-jdk | openjdk-17-jdk, maven
Standards-Version: 3.9.3
Homepage: https://jitsi.org/meet

Package: jicofo
Architecture: all
Depends: ${misc:Depends}, openjdk-11-jre-headless | openjdk-11-jre | openjdk-17-jre-headless | openjdk-17-jre, ruby-hocon, jq
Description: JItsi Meet COnference FOcus
 Jicofo is a conference focus for Jitsi Meet application.
